/* Fonts for project */
@import url('https://fonts.googleapis.com/css?family=Amiri|Raleway');

/* UNIVERSALS */
a {
    text-decoration: none;
}

h1, h2, h4 {
    font-family: 'Amiri', serif;
}

p, a {
    font-family: 'Raleway', sans-serif;
}

input, li, button, label {
    font-family: 'Raleway', sans-serif;
}

.text-center {
    text-align: center;
}

.block {
    display: block;
}

.clear-float-left {
    clear: left;

}

.clear-float-right {
    clear: right;
}

.line {
    text-decoration: line-through;
  }

.white-text {
    color: #FFFFFF;
}

.gray-text {
    color: gray;
}

.black-text {
    color: black;
}

.orange-text {
color: #F8512F;
}

.thin-text {
font-weight: normal;
}

.thick-text {
font-weight: bold;
}

.orange-bg {
background-color: #F8512F;
}

/* HEADER section */
.picture {
    padding: 2px; 
    margin-top: -1em;
    height: 5em;
    width: 4em;
    resize: both;
}

#pagealignment {
    margin-left: 10%;
    margin-right: 10%;
}

.header-container {
    border-bottom: 3px solid #00aea1; /*teal*/
    font-weight: 400;
    margin-top: -5px;
}

/* .nav-container h1 {
    margin-bottom: 0;
} */

.nav-items {
    margin: 0;
    text-align: right;
}

.nav-items .listed-nav-item {
    display: inline;
}

#spacexlaunch {
    background-image: url('../img/jordan-steranka-527412-unsplash.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

footer {
    height: 20px;
    background-color: rgba(100, 98, 98, 0.589); /* charcol gray */
    color: #fff;
    clear: both;
    font-size: 10px;
    margin-top: 10px;
}

.social-media a{
    color: #fff;
}

.social-media a:hover {
    color: #aff300;
}

.social-media i {
    margin: 10px 12px;
}